h1{
    text-align: center;
    font-size: 50px;
    background-color:rgb(17, 107, 100);
    margin-top: 0px;
}

body {
    margin: 0px;
}

nav{
    text-align: center;
    font-size: 20px;
    border: 3px solid green;
    text-decoration:none;
    margin:10px ;
    padding:10px;
    border-radius:10px;
        margin-top: 0px;
}

nav a{
    text-decoration:none;
    color: rgb(124, 110, 110);
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    margin: 0px;
    margin-top: 0px;
}

h2{
    text-align: center;
    font-size: 50px;
    background-color:grey;
}

.Njv{
    border: 10px solid rgba(175, 14, 14, 0.685);
    width: 250px;
    margin: 15px;
 
}


.Njv1{
    font-size: 20px;
    border-radius:10px;
     text-align: center;
    border: 3px solid green;
    text-decoration:none;
    margin:10px ;
    padding:10px;
margin-top: 0px;
}

main a{
    text-align: center;
    font-size: 20px;
    color: rgba(241, 147, 5, 0.815);
    border: 3px solid  rgba(158, 130, 112, 0.26);
    text-decoration:none;
    margin:190px ;
    padding:10px;
    border-radius:10px;
    background-color: rgba(117, 89, 63, 0.555);
    margin-top: 0px;
}

footer a{
    text-decoration:none;
    font-size: 20px;
    color: blue;
    border-radius:10px;
    margin : 0px;
    margin-top: 0px;
}

h3{
   text-align: center;
    font-size: 50px;
    background-color:rgba(17, 88, 100, 0.781);  
}

footer {
    background-color: rgb(17, 107, 100);
        margin-top: 0px;
}

footer p{
    color:rgb(180, 24, 24) ;
    background-color: white;
}

.Njv2{
     text-align: center;
    font-size: 20px;
    color: rgba(82, 14, 14, 0.767);
    border: 3px solid  rgba(32, 117, 11, 0.555);
    text-decoration:none;
    margin:190px ;
    padding:10px;
    border-radius:10px;
    background-color: rgb(24, 129, 10);
margin-top: 0px;
}

.Njv3{
    border: 10px solid rgba(175, 14, 14, 0.685);
    margin-top: 0px;
}

main{
      background-color: rgba(132, 148, 138, 0.774);
         margin : 0px;
             margin-top: 0px;
}

.Hju9{
    font-size: 20px;
}

header{
   margin-top: 0px;
}
